.m-head {
  width: 100%;
  height: 150px;
}
.m-head .m-head-cont {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.m-head-tip {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #0f001f;
}
.m-head-tip .m-section {
  text-align: right;
  color: #fff;
}
.m-head-tip .m-section a {
  position: relative;
  top: -3px;
  font-size: 16px;
  color: #fff;
}
.m-head-tip .m-section a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.m-head-nav {
  width: 100%;
  height: 100px;
  background-color: #ffe32f;
}
.m-head-nav .head-nav {
  float: left;
  margin-top: 35px;
  overflow: hidden;
}
.m-head-nav .head-nav li {
  float: left;
  margin: 0 5px;
}
.m-head-nav .head-nav li a {
  display: inline-block;
  min-width: 84px;
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  text-align: center;
  color: #333;
  font-size: 16px;
}
.m-head-nav .head-nav li a:hover {
  border-radius: 6px;
  background-color: #fff;
}
.m-head-nav .head-nav li .head-nav-cur {
  border-radius: 6px;
  background-color: #fff;
}
.m-min-head {
  display: none;
  width: 100%;
  height: 50px;
}
.m-min-head .head-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ffe32f;
}
.m-min-head .head-nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.m-logo {
  float: left;
  width: 101px;
  height: 59px;
  margin-top: 23px;
  margin-right: 75px;
  background-color: red;
  font-size: 0;
}
.m-section {
  width: 1200px;
  margin: 0 auto;
}
.m-footer {
  width: 100%;
  height: 200px;
  color: #fff;
  text-align: center;
  background-color: #0f001f;
}
.m-footer .copyright {
  margin-top: 15px;
}
.footer-nav {
  padding-top: 85px;
}
.footer-nav a {
  position: relative;
  display: inline-block;
  padding: 0 53px;
  color: #fff;
  font-size: 26px;
}
.footer-nav a:after {
  position: absolute;
  left: 0;
  top: 5%;
  content: "";
  display: inline-block;
  width: 1px;
  height: 90%;
  background-color: #fff;
}
.footer-nav a:first-child:after {
  display: none;
}
.m-min-footer {
  display: none;
  height: 50px;
  line-height: 50px;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background-color: #0f001f;
  overflow: hidden;
}
.m-page {
  padding: 20px 0;
  text-align: center;
}
.m-page .page-item {
  display: inline-block;
  min-width: 38px;
  margin-right: 12px;
  padding: 5px 10px;
  border: 1px solid #ededed;
  border-radius: 6%;
  color: #666;
  font-size: 16px;
}
.m-page .page-item-cur {
  border-color: #ffdd00;
  color: #fff;
  background-color: #ffdd00;
}
.m-page .page-item-disabled {
  color: #ededed;
  cursor: default;
}
.m-page .page-dot {
  display: inline-block;
  margin-right: 12px;
  vertical-align: super;
}
.m-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 100%;
}
.m-dialog-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media screen and (max-width: 540px) {
  .m-section {
    width: 100%;
  }
  .m-head,
  .m-footer,
  .m-page {
    display: none;
  }
  .m-min-head,
  .m-min-footer {
    display: block;
    position: relative;
    z-index: 100;
  }
}
