html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.inner-container {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0 50px 0;
}
.inner-container .m-sidebar-qa {
  width: 243px;
  height: 790px;
  float: left;
  padding-top: 10px;
  border: 1px solid #ededed;
}
.inner-container .m-sidebar-qa li {
  padding-left: 55px;
}
.inner-container .m-sidebar-qa li a {
  color: black;
}
.inner-container .m-content {
  width: 912px;
  float: right;
}
.inner-container .menu li {
  height: 65px;
  line-height: 65px;
  font-size: 20px;
}
.inner-container .menu li.on-select {
  background-color: #ffdd00;
}
.inner-container .qa-list li {
  font-size: 16px;
  color: #666666;
  margin-top: 18px;
}
.inner-container .qa-list li .on-select {
  color: #ffcc00;
  position: relative;
}
.inner-container .qa-list li .on-select:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #ffcc00;
  position: absolute;
  left: -20px;
}
