<div class="m-sidebar-qa">
  <ul class="menu">
    <li class="on-select"><a href="#">淘力更新</a></li>
    <li><a href="#">求职者服务</a></li>
  </ul>
  <ul class="qa-list">
    <li><a href="#">淘力如何派单给我</a></li>
    <li><a href="#">如何抢单</a></li>
    <li><a href="#">如何认证</a></li>
    <li><a href="#">如何创建团队</a></li>
    <li><a class="on-select" href="#">如何收取徒弟</a></li>
    <li><a href="#">如何找师傅</a></li>
    <li><a href="#">保证金是什么</a></li>
    <li><a href="#">如何拿到薪资</a></li>
    <li><a href="#">钱包余额如何体现</a></li>
    <li><a href="#">积分如何使用</a></li>
    <li><a href="#">如何投诉</a></li>
  </ul>
</div>
