<div class="m-head">
  <div class="m-head-cont">
    <div class="m-head-tip">
      <div class="m-section">
        <a href="#">联系我们</a>
      </div>
    </div>
    <div class="m-head-nav">
      <div class="m-section clearfix">
        <a href="#">
          <h1 class="m-logo taoli-logo" title="淘力">logo</h1>
        </a>
        <ul class="head-nav">
          <li><a href="#" class="head-nav-cur">首页</a></li>
          <li><a href="#">抢工作</a></li>
          <li><a href="#">众包</a></li>
          <li><a href="#">师徒</a></li>
          <li><a href="#">企业服务</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">关于淘力</a></li>
          <li><a href="#">澳洲就业移民</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="m-min-head">
  <div class="head-nav">
    <h1 class="head-nav-item"></h1>
    <a href="#" class="head-nav-item">首页</a>
    <a href="#" class="head-nav-item">抢工作</a>
    <a href="#" class="head-nav-item">师徒</a>
  </div>
</div>
