<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/public.css" />
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/m_back_top.css">
    <link rel="stylesheet" href="../css/sprites.css">
    <link rel="stylesheet" href="../css/common_qa_service.css">
</head>
<body>
  @@include('./component/head.html')
    <div class="m-wrap">
      <div class="inner-container clearfix">
        <div class="m-sidebar-qa">
          <ul class="menu">
            <li class="on-select"><a href="#">淘力更新</a></li>
            <li><a href="#">求职者服务</a></li>
          </ul>
          <ul class="qa-list">
            <li><a href="#">淘力如何派单给我</a></li>
            <li><a href="#">如何抢单</a></li>
            <li><a href="#">如何认证</a></li>
            <li><a href="#">如何创建团队</a></li>
            <li><a class="on-select" href="#">如何收取徒弟</a></li>
            <li><a href="#">如何找师傅</a></li>
            <li><a href="#">保证金是什么</a></li>
            <li><a href="#">如何拿到薪资</a></li>
            <li><a href="#">钱包余额如何体现</a></li>
            <li><a href="#">积分如何使用</a></li>
            <li><a href="#">如何投诉</a></li>
          </ul>
        </div>
        <div class="m-content">
          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>

          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>

          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>

          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>

          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>

          <div class="service-item clearfix">
            <div class="service-content">
              <div class="title-row">
                <i class="iconfont icon-help"></i><h2>淘力如何派单给我</h2>
              </div>
              <div class="content-row">
                <i class="help-avatar"></i>
                <p>
                  更新内容：可显示两行摘要.
                </p>
              </div>
            </div>
            <span class="publish-time">2016-08-30: 19:10</span>
          </div>
        </div>
    </div>
  @@include('./component/footer.html')
  @@include('./component/back_top.html')
</body>
</html>
